<!-- Add your code here, create additional directives if needed. -->
<div>  
<div class="clearfix">
    <select class="col-sm-3 form-control type-select" ng-model="vm.type" ng-options="type for type in vm.types" ng-change="vm.filterOnType()">
    </select> 
</div>

    <table class="announcements-table table table-striped table-responsive col-sm-12">
            <thead class="thead-default">
                <tr>
                    <th class="col-sm-5">Title</th>
                    <th class="col-sm-3">Date</th>
                    <th class="col-sm-2">Type</th>
                    <th class="col-sm-3">Created By(Owner)</th>                   
                </tr>
                <tr>
                
                </tr>
            </thead>
            <tbody class="announcements-table-body">
                <tr ng-repeat="announcement in vm.announcements | orderBy : 'Date' : 'reverse'">
                    <td class="col-sm-5">{{announcement.Title}}</td>
                    <td class="col-sm-3">{{announcement.Date | date:'MMM. dd/yyyy' }}</td>
                    <td class="col-sm-2"><span class="{{announcement.Type.Icon}}"></span></td>
                    <td class="col-sm-3">{{announcement.ownerName}}</td>                    
                </tr>
            </tbody>
        </table>
</div>